@import url("animations.css");

body{
    font-family: 'Nunito',
    sans-serif;
}

.pre-header{
    padding: 5px 0;
    font-size: 14px;
}
nav{
    // background-color: rgba(255, 255, 255, 0.616);
    // font-family: 'Merriweather',
    // serif;
    font-weight: 700;
}
.navbar-brand{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0 10px;
}

.icon-container{
    height: 32px;
    width: 32px;
    background-color: #2d3338;
    position: relative;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    color: #ababab;
    transition: all .2s;
    cursor: pointer;
    font-size: 12px;

    &:hover{
        color: #fff;
    }
    i{
        text-align: center;
    }
}
.u-header-line-height{
    line-height: 32px;
    cursor: pointer;
}
.hero{
    &__wrapper{
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        -webkit-clip-path: polygon(100% 0, 100% 96%, 50% 100%, 0 96%, 0 0);
        clip-path: polygon(100% 0, 100% 96%, 50% 100%, 0 96%, 0 0);
    }
    &__image{
        -moz-animation: bg 60s linear infinite;
        -webkit-animation: bg 60s linear infinite;
        -o-animation: bg 60s linear infinite;
        -ms-animation: bg 60s linear infinite;
        animation: bg 60s linear infinite;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        /* Set your background with this */
        background: url("../img/hero.jpg") bottom left;
        background-position: center;
        background-size: cover;
        background-repeat: repeat-x;
        height: 100%;
        opacity: 1;
        position: absolute;
        background-size: 2250px auto;
        width: 30750px;
    }
    &__text{
        position: relative;
        width: 100%;
        height: 90vh;

        h1{
            font-size: 40px;
            letter-spacing: 3px;
            font-family: 'Merriweather', serif;
            font-weight: 700;
            color: #fff;

            &::after{
                content: "";
                display: block;
                height: 3px;
                width: 100%;
                background-color: #fff;
            }
        }
        h6{
            font-size: 19px;
            opacity: 0.8;
        }
        img{
            opacity: 0.8;
            height: 170px;
        }
        .btn{
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.6);
            height: 38px;
            width: 38px;
        }
        &__wrapper{
            text-align: center;
            width: 100%;
            position: absolute;
            bottom: 0;
            margin-bottom: 35px;
        }
        .item{
            width: 69%;
            margin: auto;
        }
    }
}
.navbar-nav{
    li{
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        font-size: 15px;
    }
    li:last-child{
        padding: 0;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
    }
}
.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.4);
}
.dropdown-item:hover{
    background-color: #2d3338;
}
.dropdown-item:active{
    background-color: #2ecc70b9;
}