@import url("animations.css");
body {
  font-family: 'Lato', sans-serif;
}

.container-main {
  max-width: 1366px;
  margin: 0 auto;
}

.pre-header {
  padding: 5px 0;
  font-size: 14px;
}

nav {
  font-weight: 700;
}

.navbar-brand {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0 10px;
}

.icon-container {
  height: 32px;
  width: 32px;
  background-color: #2d3338;
  position: relative;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  color: #ababab;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
  font-size: 12px;
}

.icon-container:hover {
  color: #fff;
}

.icon-container i {
  text-align: center;
}

.u-header-line-height {
  line-height: 32px;
  cursor: pointer;
}

.hero__wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  -webkit-clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
  clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
  z-index: 9999;
}

.hero__image {
  -webkit-animation: bg 60s linear infinite;
  animation: bg 60s linear infinite;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* Set your background with this */
  background: url("../img/hero.jpg") bottom left;
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
  height: 100%;
  opacity: 1;
  position: absolute;
  background-size: 2250px auto;
  width: 30750px;
}

.hero__text {
  position: relative;
  width: 100%;
  height: 90vh;
}

.hero__text h1 {
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: 700;
  color: #fff;
}

.hero__text h1::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: #fff;
}

.hero__text h6 {
  font-size: 19px;
  opacity: 0.8;
}

.hero__text img {
  opacity: 0.8;
  height: 170px;
}

.hero__text .btn {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 38px;
  width: 38px;
}

.hero__text__wrapper {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 35px;
}

.hero__text .item {
  width: 69%;
  margin: auto;
}

.navbar-nav li {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 15px;
}

.navbar-nav li:last-child {
  padding: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.4);
}

.dropdown-item:hover {
  background-color: #2d3338;
}

.dropdown-item:active {
  background-color: rgba(46, 204, 112, 0.7);
}

.section-options {
  padding: 150px 0 190px 0;
  background-color: #f7f7f7;
  margin-top: -10vh;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  z-index: 88888;
}

.section-options h1 {
  font-weight: 700;
}

.section-options h1::after {
  content: "______ __";
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  line-height: 1px;
  margin: auto;
  height: 30px !important;
  display: block;
  margin-bottom: 30px;
}

.section-options h5 {
  font-weight: 700;
}

.section-options a.options-link {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 3px;
}

.section-options a.options-link:hover {
  text-decoration: none;
  background-color: #fff;
  color: #7ed56f;
}

.section-options .image-container {
  position: relative;
}

.section-options .option-image {
  width: 55%;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  position: absolute;
  border-radius: 3px;
  outline-offset: 10px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.section-options .option-image-1 {
  left: 0;
  top: -40px;
}

.section-options .option-image-2 {
  right: 0;
  top: 20px;
}

.section-options .option-image-3 {
  left: 20%;
  top: 130px;
}

.section-options .option-image:hover {
  outline: 5px solid #fff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.section-trust {
  background-color: #f7f7f7;
  padding: 120px 0;
  -webkit-clip-path: polygon(50% 7%, 100% 0, 100% 95%, 50% 100%, 0 93%, 0 0);
  clip-path: polygon(50% 7%, 100% 0, 100% 95%, 50% 100%, 0 93%, 0 0);
  margin-top: -5%;
}

.section-trust h1 {
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}

.section-trust .main-text::after {
  content: "______ __";
  font-size: 30px;
  font-weight: 700;
  color: #28b485;
  line-height: 1px;
  margin: auto;
  height: 30px !important;
  display: block;
  margin-bottom: 30px;
}

.section-trust .card {
  border: 0;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.section-trust .card:hover {
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.05) translate(0%, -3%);
          transform: scale(1.05) translate(0%, -3%);
}

.section-trust .large-icon-container {
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  height: 110px;
  width: 110px;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}

.section-trust .large-icon-container i {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-trust h4 {
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}

.featured {
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
}

.featured h1 {
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}

.featured .main-text::after {
  content: "______ __";
  font-size: 30px;
  font-weight: 700;
  color: #28b485;
  line-height: 1px;
  margin: auto;
  height: 30px !important;
  display: block;
  margin-bottom: 30px;
}

.featured .card {
  border: 0;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  position: relative;
  -webkit-transform: skewX(-5deg);
          transform: skewX(-5deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.featured .card:hover {
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

.featured .image-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 9999;
}

.featured .image-wrapper .h2-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.featured .image-wrapper .h2-wrapper .points {
  position: absolute;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b48500));
  background-image: linear-gradient(to right, #7ed56f, #28b48500);
  display: none;
}

.featured .image-wrapper .h2-wrapper:hover .points {
  display: block;
}

.featured .image-wrapper h2 {
  position: absolute;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-shadow: 0 15px 40px rgba(0, 0, 0, 0.8);
}

#map {
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */